{% extends "base.html" %}

{% block head %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Estaca Zero</title>
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
    }
    .divSolos {
        border-color: #92a8d1;
        border-style: solid;
        border-width: 2px;
        padding: 3px;
    }
    .divSolosGeral{
        display: flex;
        gap: 81px;
        justify-content: center;
    }
    .container {
        max-width: 707px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .form-group {
        margin-bottom: 20px;
    }
    label {
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
    }
    select, input[type="text"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    input[type="text"] {
        height: 38px;
    }
    input[type="submit"] {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 12px 20px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }
    input[type="submit"]:hover {
        background-color: #0056b3;
    }
</style>

{% endblock %}


{% block body %}

<div class="container">
    <h2>Tipos de Solos</h2>
    <div class="divSolosGeral">
        <div class="divSolos"> 
            <p>Areia = 1</p>
            <p>Areia Siltosa = 12</p>
            <p>Areia Siltoargilosa = 13</p>
            <p>Areia Argilosa = 14</p>
            <p>Areia Argilossiltosa = 15</p>
        </div>

        <div class="divSolos"> 
            <p>Silte = 2</p>
            <p>Silte Arenoso = 21</p>
            <p>Silte Arenoargiloso = 22</p>
            <p>Silte Argiloso = 23</p>
            <p>Silte Argiloarenoso = 24</p>
        </div>

        <div class="divSolos"> 
            <p>Argila = 3</p>
            <p>Argila Arenosa = 31</p>
            <p>Argila Arenossiltosa = 32</p>
            <p>Argila Siltosa = 33</p>
            <p>Argila Siltoarenosa = 34</p>        
        </div>
                      
    </div>

    <form id="estacaForm">
        <div class="form-group">
            <label for="listaSolos">Lista de Solos:</label>
            <input type="text" id="listaSolos" name="listaSolos" placeholder="Exemplo de entrada: 23, 23, 23, 23, 33, 33, 33, 33, 33, 12">
        </div>
        <div class="form-group">
            <label for="listaNspt">Lista de NSPT:</label>
            <input type="text" id="listaNspt" name="listaNspt" placeholder="Exemplo de entrada: 0, 1, 1, 3, 6, 10, 11, 16, 30, 50">
        </div>
        <div class="form-group">
            <label for="tipoEstaca">Tipo de Estaca:</label>
            <select id="tipoEstaca" name="tipoEstaca" >
                <option value="Hélice Contínua">Hélice Contínua</option>
                <option value="Escavada">Escavada</option>
                <option value="Raiz">Raiz</option>
                <option value="Pré-Moldada">Pré-Moldada</option>
                <option value="Franki">Franki</option>
                <option value="Ômega">Ômega</option>
                <option value="Metálica">Metálica</option>
            </select>
        </div>
        <div class="form-group">
            <label for="diametroEstaca">Diâmetro da Estaca (cm):</label>
            <input type="text" id="diametroEstaca" name="diametroEstaca" placeholder="Digite o diâmetro da estaca">
        </div>
        <div class="form-group">
            <label for="cargaAdmissivel">Carga Admissível (kN):</label>
            <input type="text" id="cargaAdmissivel" name="cargaAdmissivel" placeholder="Digite a carga admissível">
        </div>
        <div class="form-group">
            <label for="niveldAgua">Nível de Água (m):</label>
            <input type="text" id="cargaAdmissivel" name="cargaAdmissivel" placeholder="Digite o nível de água">
        </div>
        <input type="submit" value="Gerar Resultados">
    </form>
</div>

{% endblock %}


